html {
    background: url("../static/bg.svg") no-repeat center;
    background-size: cover;
    font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math", serif;
    /*zoom: 1.1;*/
}

/* 整体主框架 */
.main {
    width: 400px;
    margin: 50px auto;
    padding: 40px;

}

/* 欢迎文字 */
.text {
    text-align: center;
    margin-bottom: 30px;
}

/* 登录主框 */
.mainframe {
    background: #fff;
    padding: 20px 40px 40px 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.logo {
    display: block;
    margin: 5px auto 10px;
    width: 60%;
}

hr {
    color: rgba(0, 0, 0, 0.1);
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
}

/* 登录标题 */
.loginword {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.user, .pwd {
    border-color: rgb(80, 80, 80);
    margin-bottom: 30px;
}

input {
    font-size: 18px;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 0;
    border-color: #000000;
    padding: 6px 0 6px 0;
    outline: none;
    border-width: 1px;
    -webkit-border-radius: 0;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    box-sizing: border-box;
    transition: border 0.3s;
}

input:focus {
    border-width: 0 0 4px 0;
    border-color: #006c9b;
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.captcha-area {
    display: flex;
    align-items: start;
}

#code {
    height: 50px;
    /*border-color: rgb(161, 0, 0);*/
    display: inline;
}

/* 验证码 */
.captcha-container-wrapper {
    flex-grow: 1;
    text-align: right;
}

#captchaContainer {
    cursor: pointer;

    #captchaImage {
        border: solid rgba(0, 0, 0, 0.5);
        width: auto;
        height: 47px;
        border-radius: 0;
        margin: 0 0 0 14px;
    }
}

.btn-group {
    display: flex;
    justify-content: space-around;
}

.custom-button {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    width: 40%;
    min-height: 32px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.custom-button:hover{
    transition-duration: 0.2s;
    transform: scale(1.1);
}

#dd2{
    background-color: #0067b8;
}

#dd2:hover{
    background-color: #014d88;
}

#dd{
    color: #000;
    background: #b2b2b2;
}

#dd:hover {
    background: #949494;
}

