@import url("students_card.css");

* {
    font-family:Helvetica, sans-serif;
}

body{
    
    background-image: url('./bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 设置 body 的最小高度为视窗的高度，保证至少撑满一屏 */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main,footer{
    background-color: transparent;
}

main {
    flex-grow: 1;

    flex-wrap: wrap;
    justify-content: space-around;
}

p {
    margin: 10px 0;
}

header {
    background-color: #232136;
    color: #e0dede;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 0 0 30px 30px;

}

h1 {
    margin: 15px;
    font-size: 40px;
    transition: font-size 0.3s;
}

.error-box {
    margin: 0 auto;
    overflow: auto;
    padding: 5px 15px;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.user-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.teacher-name {
    cursor: pointer;
    transition: color 0.3s;
}

.teacher-name:hover {
    color: #c7c7c7;
}

.dropdown-content {
    cursor: pointer;
    color: #e0dede;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.dropdown-content:hover {
    background-color: #2980b9;
}

.dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

.hidden{
    display: none;
}

.search-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    transition: border 0.3s;
}

#search-wrapper {
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 4px;
}

#search-wrapper.active {
    width: 200px;
    opacity: 1;
}

#search-input:focus {
    outline: none;
    border: 1px solid #3498db;
}

#search-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #2980b9;
}



footer {
    border: 1px solid #232136;
    background-color: rgba(255, 255, 255, 0.374);
    padding: 10px;
    text-align: center;
}

.page-footnote {
    height: 30px;
    display: flex;
    justify-content: center;
}

.page-footnote a {
    display: flex;
    align-items: center;
    font-size: px;
    padding: 1px 10px;
    border: 1px solid #232136;
    color:#232136;
    text-decoration: none;
    margin: 0 5px;
}

.page-footnote a:hover {
    text-decoration: underline;
}

.page-footnote a.current-page {
    /* color: rgb(190, 32, 151); */
    color: #f2f2f2;
    background-color: #35782e;
}