@import url("students_card.css");

body {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

p {
    margin: 10px 0;
}

header {
    background-color: #232136;
    color: #e0dede;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 0 0 30px 30px;

}

h1 {
    margin: 15px;
    font-size: 40px;
    transition: font-size 0.3s;
}

.error-box {
    margin: 0 auto;
    overflow: auto;
    padding: 5px 15px;
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.user-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.teacher-name {
    cursor: pointer;
    transition: color 0.3s;
}

.teacher-name:hover {
    color: #c7c7c7;
}

.dropdown-content {
    cursor: pointer;
    color: #e0dede;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.dropdown-content:hover {
    background-color: #2980b9;
}

.dropdown.show-dropdown .dropdown-content {
    opacity: 1;
    transform: translateY(0);
}

.search-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    transition: border 0.3s;
}

#search-wrapper {
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

#search-wrapper.active {
    width: 200px;
    opacity: 1;
}

#search-input:focus {
    outline: none;
    border: 1px solid #3498db;
}

#search-btn {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #2980b9;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.page-footnote {
    display: flex;
    justify-content: center;
}

.page-footnote a {
    text-decoration: none;
    color: #1a0dab;
    margin: 0 5px;
    font-size: 14px;
}

.page-footnote a:hover {
    text-decoration: underline;
}
