:root {
    --save-btn-color: #057a20;
    --delete-btn-color: rgb(208, 26, 26);
    --cancel-btn-color: #0071e3;
  }

  .student-card {
    height: 268px;
    background: linear-gradient(to right, #ffffff 0%, #fefefe 50%, #f7f7f7 100%);
    border: 1px solid #e0e0e3;
    border-radius: 11px;
    padding: 30px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 200px;
    box-shadow: 0 0 14px #969696
}

.student-card:hover {
    transform: scale(1.05); /* Expand a little on hover */
}

.student-card.expanded{
    height: 300px;
}

.student-card h2 {
    color: #000000;
    margin-bottom: 10px;
    margin-top: 0;
}

.new-student-card {
    display: none;
}

.students-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}

.info {
    display: block;
}

.editor {
    display: none;
}

.editor label {
    display: block;
    margin-bottom: 5px;
}

.editor .editor-lable{
    font-size: 12px;
    font-weight: 600;
}

.editor input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 3px;
    font-size: 20px;
}


.editor input:focus{
    border-width: 2px;
    cursor: text;
    background: transparent;
}

.editor input[id="name"]{
    font-size: 1.5em;
}

.editor #name{
    border: 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}


.editor-btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.editor-btn {
    border-width: 0;
    width: 60px;
    font-weight: 600;
    margin: 0 5px;
    padding: 6px 8px;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.2s, transform 0.2s;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-repeat: no-repeat;
    background-size: 0 0;
    margin-top: auto; /* 添加此行，使其与父元素底部对齐 */
}

.editor-btn.save-btn {
    background-color: var(--save-btn-color);
}
  
.editor-btn.delete-btn {
    background-color: var(--delete-btn-color);
}
  
.editor-btn.cancel-btn {
    background-color: var(--cancel-btn-color);
}

/* 写上述三个元素的hover的选择器 */
.editor-btn.save-btn:hover{
    outline: 2px solid var(--save-btn-color);
    box-shadow: 0 0 3px 0 var(--save-btn-color);
}
.editor-btn.delete-btn:hover{
    outline: 2px solid var(--delete-btn-color);
    box-shadow: 0 0 3px 0 var(--delete-btn-color);
}
.editor-btn.cancel-btn:hover{
    outline: 2px solid var(--cancel-btn-color);
    box-shadow: 0 0 3px 0 var(--cancel-btn-color);
}

.editor-btn.save-btn:active{
    background-color: #034d14;
}
.editor-btn.delete-btn:active{
    background-color: rgb(150, 18, 18);
}
.editor-btn.cancel-btn:active{
    background-color: #02509f;
}

.editor-btn:hover {
    cursor: pointer;
    border-radius: 30px;
    background-size: 100% 100%;
    transform: scale(1.15);
    outline-offset: 2px;
  }

.add-btn {
    display: block;
    max-height: 128px;
    margin: 40px auto;
    transition: transform 0.5s;
}

.add-btn:hover{
    transform: scale(1.25);
}

/*===========================表格样式=============================*/

table {
    border-spacing: inherit;
    width: 100%;
    border: none;
}

td, th {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

td:hover{
    background-color: #f5f5f5;
}

th {
    color: #414141;
    width: 36px;
    text-align: center;
    font-weight: 300;
}

td {
    color: #171717;
    font-weight: 400;
    text-align: left;
    border-right: 1px solid #ccc;
    
}

td[contenteditable="true"]{
    cursor: text  ;
}

td[contenteditable="true"]:focus{
    background: #f0f5ff;
}


tbody tr:first-child th {
    border-top-left-radius: 5px;
}

tbody tr:first-child td {
    border-top-right-radius: 5px;
}

tbody tr:last-child th {
    border-bottom-left-radius: 6px;
    border-bottom: 1px solid #ccc;
}

tbody tr:last-child td {
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #ccc;
}