<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Student Info Management System</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='register.css') }}"
    />
    <script src="{{ url_for('static', filename='node_modules/argon2-browser/dist/argon2-bundled.min.js') }}"></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js">
    //导入Jquery模块以便前端识别JS$相应函数
</script>
<div class="main">
    <h1 class="text">学生信息管理系统</h1>
    <div class="mainframe">
        <img alt="山大logo" class="logo" src="{{ url_for('static', filename='logo.png') }}">
        <hr>
        <p class="loginword">
            <strong>新用户注册</strong>
        </p>
        <div class="账号">
            <label class="user">
                <span></span>
                <input type="text" placeholder="输入用户名" id="name"/>
            </label>
        </div>

        <div class="密码">
            <label class="pass">
                <span></span>
                <input
                        type="password"
                        placeholder="输入新密码,仅允许数字及大小写字母"
                        id="pass"
                />
            </label>
        </div>

        <div class="密码">
            <label class="pass">
                <input
                        type="password"
                        placeholder="再次确认密码"
                        id="pass2"
                />
            </label>
        </div>

        <div class="captcha-area">
            <label for="code"></label><input id="code" placeholder="验证码" type="text"/>
            <div class="captcha-container-wrapper">
                <div id="captchaContainer" onclick="changeCaptcha()">
                    <img alt="captcha" id="captchaImage" src="{{ image_path }}"/>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <button id="back-btn" class="custom-button" onclick="return1()">
                <span>返回</span>
            </button>
            <button id="register-btn" class="custom-button">
                <span>注册</span>
            </button>

        </div>
    </div>
</div>
<script>
    $(function () {
        console.log("register-btn ////");
        $("#register-btn").on("click", registerUser);
    });

    $(function () {
        console.log("enter ////");
        $("#name, #pass, #pass2, #code").on("keydown", registerUser);
    });

    function registerUser() {
        console.log('registerUser');
        let name = $("#name").val();
        let password = $("#pass").val();
        let password2 = $("#pass2").val();
        let code = $("#code").val();
        if (!name || !password || !code) {
            alert("您的信息没有填写完整,请填写完整后登录!");
            return;
        }
        let unsafePattern = /['"%;)/\\]/;
        if (unsafePattern.test(name) || unsafePattern.test(password)) {
            alert("输入包含不安全字符，请重新输入!");
            return;
        }
        if (password !== password2) {
            alert("两次密码输入不一致,请确认密码!");
            return;
        }
        if (name && password) {
            argon2
                .hash({pass: password, salt: "SIMS_NaCl"})
                .then((res) => {
                    $.post(
                        "/register_get",
                        {name: name, password: res.hashHex, code: code},
                        function (data) {
                            if (data.success) {
                                alert("您的信息已成功注册!");
                                window.location.href = "/login";
                            } else {
                                alert(data.info);
                            }
                        }
                    );
                })
                .catch((err) => {
                    console.log(err);
                    alert(err);
                });
        }
    }


    function return1() {
        window.location.href = "/login.html";
    }

    function changeCaptcha() {
        // 向后端请求新的验证码图像
        fetch("/change_captcha")
            .then((response) => response.json())
            .then((data) => {
                document.querySelector("#captchaImage").src = data.image_path;
            })
            .catch((err) => {
                console.log(err);
            });
    }
</script>
</body>
</html>
