<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='students.css') }}" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='students.js') }}"></script>
</head>

<body>
    <header>
        <h1>学生信息</h1>
        {% if error %}
        <div class="error-box">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <div class="search-container">
            <div id="search-wrapper">
                <input type="text" id="search-input" placeholder="Search..." value="{{ search_input }}" />
            </div>
            <button id="search-btn">Search</button>
        </div>
        <div class="user-info">
            <div class="dropdown">
                <div class="teacher-name" id="teacherName">{{ teacher_name }}</div>
                <div class="dropdown-content hidden">
                登出
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="students-container">
            {% for student in students %}
            <div class="student-card" data-student-id="{{ student.studentnumber }}">
                <div class="info">
                    <h2 id="name" title="field name: name">
                        {{ student.studentname }}
                    </h2>
                    <table>
                        <tbody>
                        <tr>
                            <th title="field name: id">学号</th>
                            <td  id="student_id">{{ student.studentnumber }}</td>
                        </tr>
                        <tr>
                            <th title="field name: age">年龄</th>
                            <td  id="age">{{ student.studentage }}</td>
                        </tr>
                        <tr>
                            <th title="field name: sex">性别</th>
                            <td  id="sex">{{ student.studentsex }}</td>
                        </tr>
                        <tr>
                            <th title="field name: addr | address">籍贯</th>
                            <td  id="address">{{ student.studentorigin }}</td>
                        </tr>
                        <tr>
                            <th title="field name: dept | department">专业</th>
                            <td  id="department">{{ student.studentsdept }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="editor">
                    <input type="text" id="name" placeholder="姓名" value="{{ student.studentname }}"/>
                    <table>
                        <tbody>
                        <tr>
                            <th title="field name: id">学号</th>
                            <td contenteditable="true" id="student_id">{{ student.studentnumber }}</td>
                        </tr>
                        <tr>
                            <th title="field name: age">年龄</th>
                            <td contenteditable="true" id="age">{{ student.studentage }}</td>
                        </tr>
                        <tr>
                            <th title="field name: sex">性别</th>
                            <td contenteditable="true" id="sex">{{ student.studentsex }}</td>
                        </tr>
                        <tr>
                            <th title="field name: addr | address">籍贯</th>
                            <td contenteditable="true" id="address">{{ student.studentorigin }}</td>
                        </tr>
                        <tr>
                            <th title="field name: dept | department">专业</th>
                            <td contenteditable="true" id="department">{{ student.studentsdept }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="editor-btn-container">
                        <button class="editor-btn save-btn">保存</button>
                        <button class="editor-btn delete-btn">删除</button>
                        <button class="editor-btn cancel-btn">取消</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div
                    class="student-card new-student-card"
                    data-student-id="-1"
                    id="student-card-template"
            >
            <div class="info">
                <h2 id="name" title="field name: name">
                </h2>
                <table>
                    <tbody>
                    <tr>
                        <th title="field name: id">学号</th>
                        <td  id="student_id"></td>
                    </tr>
                    <tr>
                        <th title="field name: age">年龄</th>
                        <td  id="age"></td>
                    </tr>
                    <tr>
                        <th title="field name: sex">性别</th>
                        <td  id="sex"></td>
                    </tr>
                    <tr>
                        <th title="field name: addr | address">籍贯</th>
                        <td  id="address"></td>
                    </tr>
                    <tr>
                        <th title="field name: dept | department">专业</th>
                        <td  id="department"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="editor">
                <input type="text" id="name" placeholder="姓名"/>
                <table>
                    <tbody>
                    <tr>
                        <th title="field name: id">学号</th>
                        <td contenteditable="true" id="student_id"></td>
                    </tr>
                    <tr>
                        <th title="field name: age">年龄</th>
                        <td contenteditable="true" id="age"></td>
                    </tr>
                    <tr>
                        <th title="field name: sex">性别</th>
                        <td contenteditable="true" id="sex"></td>
                    </tr>
                    <tr>
                        <th title="field name: addr | address">籍贯</th>
                        <td contenteditable="true" id="address"></td>
                    </tr>
                    <tr>
                        <th title="field name: dept | department">专业</th>
                        <td contenteditable="true" id="department"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="editor-btn-container">
                    <button class="editor-btn save-btn">save</button>
                    <button class="editor-btn delete-btn">delete</button>
                    <button class="editor-btn cancel-btn">cancel</button>
                </div>
            </div>
            </div>
            <div class="student-card">
                <h2>Add Student</h2>
                <img
                        class="add-btn"
                        src="{{ url_for('static', filename='add-button.svg') }}"
                        alt="add"
                />
            </div>
        </div>
    </main>
    <footer>
        <nav class="page-footnote">
            <a href="{{ url_for('students', page=1) }}">&lt;&lt;</a>
            <a href="{{ url_for('students', page=this_page-1) }}">&lt;</a>
            {% for page in range(1, total_pages + 1) %}
            <a href="{{ url_for('students', page=page) }}">{{ page }}</a>
            {% endfor %}
            <a href="{{ url_for('students', page=this_page+1) }}">&gt;</a>
            <a href="{{ url_for('students', page=total_pages) }}">&gt;&gt;</a>
        </nav>
    </footer>
</body>
</html>
